@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Red Hat Text', sans-serif;
  line-height: 1.5;
  font-weight: 700;;

  --Grayishblue: hsl(237, 18%, 59%);
  --Softred: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Verydarkmostlyblackblue: hsl(234, 17%, 12%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  background-color: hsl(234, 17%, 12%);
  background-image: url('./assets/bg-stars.svg');
  min-height: 100vh;
}